body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/background.jpeg);
    background-size: cover;
}

.meny { 
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 0px;
    min-width: 100vw;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    font-family: 'Rubik', sans-serif;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: #ffffff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b0b8b9;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: black;
    font-weight: light;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}
  
li a:hover:not(.about) {
    background-color: #819fb1;
    
}
  
.about {
    background-color: #819fb1;
}


footer {
    position: fixed;
    bottom: 0px;
    min-width: 100vw;
    min-height: 60px;
    text-align: center;
    padding-top: 10px;
    background-color: #e8cfb9;
    color: black;
    font-family: 'Rubik', sans-serif;
}